/* 
core.css
universal styles (body font, background, etc.)
*/

body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
}

/* Auth iframe */

#authIframe {
  height: 370px;
  width: 483px;
  border: 0px;
  background: transparent;
}

.authDialog .ui-dialog-titlebar, #authIframeHolder {
  /* hide the title bar and, until used, the iframe */
  display: none;
}

.clearFloat {
  height: 1px;
  height: 0px;
  overflow: hidden;
  clear: both;
}