#signinFlow {
  padding-left: 0;
  margin-left: 40px;
}

#signinFlow li {
  padding-left: 23px;
  margin-bottom: 3px;
  list-style: none;
}

.trafficlight-todo {
  background: url('assets/lights.png') no-repeat 0 0;
  color: gray;
}

.trafficlight-doing {
  background: url('assets/lights.png') no-repeat 0 -52px;
  font-weight: bold;
}

.trafficlight-done {
  background: url('assets/lights.png') no-repeat 0 -26px;
}

.trafficlight-failed {
  background: url('assets/lights.png') no-repeat 0 -78px;
}
