#signinFlow {
  padding-left: 0;
  margin-left: 40px;
  margin-top: 40px; 
  font-size: 20px;
}

#signinFlow li {
  padding-left: 23px;
  margin-bottom: 3px;
  list-style: none;
}

.trafficlight-todo {
  background: url('/images/lights.png') no-repeat 0 0;
  color: gray;
}

.trafficlight-doing {
  background: url('/images/lights.png') no-repeat 0 -52px;
  font-weight: bold;
}

.trafficlight-done {
  background: url('/images/lights.png') no-repeat 0 -26px;
}

.trafficlight-failed {
  background: url('/images/lights.png') no-repeat 0 -78px;
}

.warning {
  font-size: 14px;
}

/* terms */
#acceptTerms {
  display: none;
}

/* timeout and errors */

.error {
  font-color: #A33;
  display: none;
}