/* 
mobile styles
shouldn't be many, since we have jQuery UI doing much of the work 
*/

/* TRIP */
#tripRecipients {
  margin-bottom: 35px;
}

#tripContactsHeader {
  margin-bottom: 15px;
}

.sendCardHolder .ui-icon {
  display: none;
}