.contactList li {
  list-style: none;
  padding: 4px;
  width: 400px;
  margin: 2px;
  position: relative;
  border: 1px solid gray;
}

.contactList .sendCard {
  position: absolute;
  right: 20px;
}

.contactList .name {
  font-weight: bold;
  font-size: 1.1em;
}

.contactUnsent {
  height: 30px;
}

.contactSent {
  height: 20px;
}

.contactSent .name {
  vertical-align: middle;
}

.contactUnsent .ui-button {
  width: 94px;
}