.contactList > li {
  list-style: none;
  padding: 4px;
  width: 500px;
  margin: 2px;
  position: relative;
  border: 1px solid gray;
}

.contactList .sendCard {
  position: absolute;
  right: 20px;
}

.contactList .name {
  font-weight: bold;
  font-size: 1.1em;
}

.contactUnsent {
  min-height: 30px;
}

.contactSent {
  min-height: 20px;
}

.contactSent .name {
  vertical-align: middle;
}

.contactUnsent .ui-button {
  width: 94px;
}

.addresses {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  width: 390px;
}

.contactSent .addresses {
  display: none;
}