Setting things up...

<script>
  args = document.location.hash.slice(1);
  console.log("Posting with %s", args);
  $.post("google_login", args, function(result) {
    if (result.name) {
      $("body").append("<div>Welcome " + (result.is_new_user ? "" : "back ") + "to Postkart, " + result.name + "!</div>");
      //if (result.is_new_user) {
        $("body").append("<div>Getting your contacts...</div>");
        $.post("google_populate_contacts", function(result) {
          console.log(result);
        })
      //}
    }
  });

</script>