#embed_assets: on
javascript_compressor:  closure

javascripts:
  core: # every page should have these
    - public/javascripts/jquery/jquery-1.5.1.js
    - public/javascripts/rails.js
  
  common: 
    - public/javascripts/jquery/jquery-ui-1.8.11.js
    
  google_auth:
    - public/javascripts/jquery/jquery.ui.widget.js
    - public/javascripts/libraries/jquery.trafficlight.js
    - public/javascripts/google_auth.js

stylesheets:
  core: # every page should have these
    - public/stylesheets/core.css

  common: 
    - public/stylesheets/jquery-ui-1.8.11.css
    
  google_auth:
    - public/stylesheets/google_auth.css
