#embed_assets: on
javascript_compressor:  closure
template_function: on
embed_assets: on

javascripts:
  core: # every page should have these
    - public/javascripts/jquery/jquery-1.6.js
    - public/javascripts/rails.js
    - public/javascripts/compiled/pk.js
    # localstorage
    - public/javascripts/store.js
    - public/javascripts/compiled/pk.userdata.js
    # login
    - public/javascripts/compiled/pk.login.js
    - app/views/authentication/*.jst
    
  browser_common:  # all pages for non-mobile browsers should have these 
    - public/javascripts/jquery/jquery-ui-1.8.12.js
  
  mobile_common:
    - public/javascripts/jquery/jquery.mobile.js
    
  home: 
    - public/javascripts/compiled/pk.triplist.js
    - app/views/home/trip_list.jst
    
  google_auth:
    - public/javascripts/libraries/jquery.trafficlight.js
    - public/javascripts/pk.google_auth.js

  trip:
    - public/javascripts/compiled/pk.trip.js
    - app/views/trip/*.jst

stylesheets:
  core: # every page should have these
    - public/stylesheets/core.css

  browser_common: 
    - public/stylesheets/jquery-ui-1.8.11.css

  mobile_common:
  - public/stylesheets/mobile.css
  - public/stylesheets/jquery.mobile.css

  auth_iframe:
    - public/stylesheets/auth_iframe.css

  trip: 
    - public/stylesheets/trip.css