#embed_assets: on
javascript_compressor:  closure
template_function: on

javascripts:
  core: # every page should have these
    - public/javascripts/jquery/jquery-1.5.2.js
    - public/javascripts/rails.js
    # localstorage
    - public/javascripts/store.js
    - public/javascripts/compiled/pk.userdata.js
    
  browser_common:  # all pages for non-mobile browsers should have these 
    - public/javascripts/jquery/jquery-ui-1.8.12.js
    
  google_auth:
    - public/javascripts/libraries/jquery.trafficlight.js
    - public/javascripts/pk.google_auth.js

  trip:
    - public/javascripts/compiled/pk.trip.js
    - app/views/trip/*.jst

stylesheets:
  core: # every page should have these
    - public/stylesheets/core.css

  browser_common: 
    - public/stylesheets/jquery-ui-1.8.11.css
    
  auth_iframe:
    - public/stylesheets/auth_iframe.css

  trip: 
    - public/stylesheets/trip.css