<% var len = contact.addresses.length; %>
<li id="contact<%= contact._id %>" class="<%= sent ? 'contactSent' : 'contactUnsent' %>">
  <span class="name"><%= contact.name %></span>
  <% if (!sent) { %>
    <a href="#" class="sendCard" data-contact-id="<%= contact._id %>"><%= text.send %></a>
  <% } %>
  <ul class="addresses" data-role="listview">
    <% for (var j = 0; j < len; j++) { %>
      <li><%= contact.addresses[j].replace(/[\\n,]+/g, ", ") %></li>
    <% } %>
  </ul>  
</li>