#header {
  font-size: 1.6em;
  float: left;
}

#name {
  float: right;
  vertical-align: middle;
}

/* sign-in with trafficlight */

#signinFlow {
  padding-left: 0;
  margin: 17% 10% 0;
  font-size: 20px;
}

#signinFlow li {
  padding-left: 23px;
  margin-bottom: 3px;
  list-style: none;
  height: 21px;
}

.trafficlight {
  background: url('/assets/lights.png') no-repeat 0 -2px;
}

.trafficlight-todo {
  color: gray;
}

.trafficlight-doing {
  background-position: 0 -54px;
  font-weight: bold;
}

.trafficlight-done {
  background-position: 0 -29px;
}

.trafficlight-failed {
  background-position: 0 -80px;
}

.warning {
  font-size: 14px;
}

/* terms */
#acceptTerms {
  display: none;
  font-size: 12px;
  padding: 2px;
  width: 340px;
}

#acceptTermsBox {
  border: 1px solid black;
  border-radius: 8px 8px 8px 8px;
  background: #F2E1D8;
  padding: 3px;
}


/* timeout and errors */

.error {
  font-color: #A33;
  display: none;
}