/* 
mobile styles
shouldn't be many, since we have jQuery UI doing much of the work 
*/

/* TRIP */
#tripRecipients {
  margin-bottom: 16px;
}

#tripContactsHeader {
  margin-bottom: 13px;
}

span.ui-icon-ajax-load {
  background: none;
}

.loading .ui-icon-ajax-load {
  background: url('/images/ajax-load.gif') no-repeat;
}

.contactList {
  /* jquery UI bug to hide scrollbar */
  overflow: hidden;
}